APP_NAME=erp-crm-aurumdecor
ENVIRONMENT=development
DATABASE_URL=postgresql://postgres.fzksamdwigdytafqykvr:[YOUR-PASSWORD]@aws-1-us-east-1.pooler.supabase.com:6543/postgres
SECRET_KEY=changeme
JWT_ALGORITHM=HS256
JWT_EXP_MINUTES=60
